.card{
    height:200px;
    width:200px;
    border:2px solid black;
    display:inline-block;
    border-radius:15px;
    margin:5px;
    box-shadow: 2px 2px 8px black;  
    
}
.card:hover {
    box-shadow: 2px 2px 18px black; 
}
img{
    width:100%;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
}
* {
    line-height:0.5
}
.details {
    padding-left:10px;
}